<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aqier.web.cloud.novel.dao.mapper.NovelMapper">
  <resultMap id="BaseResultMap" type="com.aqier.web.cloud.novel.dto.model.Novel">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="AUTHOR" jdbcType="VARCHAR" property="author" />
    <result column="CATALOG_URL" jdbcType="VARCHAR" property="catalogUrl" />
    <result column="CHAPTER_NUMBER" jdbcType="DECIMAL" property="chapterNumber" />
    <result column="DELETED_FLAG" jdbcType="VARCHAR" property="deletedFlag" />
    <result column="VERSION_NUMBER" jdbcType="BIGINT" property="versionNumber" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="LAST_UPDATE_BY" jdbcType="VARCHAR" property="lastUpdateBy" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, NAME, AUTHOR, CATALOG_URL, CHAPTER_NUMBER, DELETED_FLAG, VERSION_NUMBER, CREATE_BY, 
    CREATE_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE
  </sql>
  <select id="selectByExample" parameterType="com.aqier.web.cloud.novel.dto.model.NovelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from NOVEL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from NOVEL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from NOVEL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.aqier.web.cloud.novel.dto.model.NovelExample">
    delete from NOVEL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aqier.web.cloud.novel.dto.model.Novel">
    insert into NOVEL (ID, NAME, AUTHOR, 
      CATALOG_URL, CHAPTER_NUMBER, DELETED_FLAG, 
      VERSION_NUMBER, CREATE_BY, CREATE_DATE, 
      LAST_UPDATE_BY, LAST_UPDATE_DATE)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{catalogUrl,jdbcType=VARCHAR}, #{chapterNumber,jdbcType=DECIMAL}, #{deletedFlag,jdbcType=VARCHAR}, 
      #{versionNumber,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aqier.web.cloud.novel.dto.model.Novel">
    insert into NOVEL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="author != null">
        AUTHOR,
      </if>
      <if test="catalogUrl != null">
        CATALOG_URL,
      </if>
      <if test="chapterNumber != null">
        CHAPTER_NUMBER,
      </if>
      <if test="deletedFlag != null">
        DELETED_FLAG,
      </if>
      <if test="versionNumber != null">
        VERSION_NUMBER,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="catalogUrl != null">
        #{catalogUrl,jdbcType=VARCHAR},
      </if>
      <if test="chapterNumber != null">
        #{chapterNumber,jdbcType=DECIMAL},
      </if>
      <if test="deletedFlag != null">
        #{deletedFlag,jdbcType=VARCHAR},
      </if>
      <if test="versionNumber != null">
        #{versionNumber,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aqier.web.cloud.novel.dto.model.NovelExample" resultType="java.lang.Long">
    select count(*) from NOVEL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update NOVEL
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null">
        AUTHOR = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.catalogUrl != null">
        CATALOG_URL = #{record.catalogUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterNumber != null">
        CHAPTER_NUMBER = #{record.chapterNumber,jdbcType=DECIMAL},
      </if>
      <if test="record.deletedFlag != null">
        DELETED_FLAG = #{record.deletedFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.versionNumber != null">
        VERSION_NUMBER = #{record.versionNumber,jdbcType=BIGINT},
      </if>
      <if test="record.createBy != null">
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateBy != null">
        LAST_UPDATE_BY = #{record.lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateDate != null">
        LAST_UPDATE_DATE = #{record.lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update NOVEL
    set ID = #{record.id,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      AUTHOR = #{record.author,jdbcType=VARCHAR},
      CATALOG_URL = #{record.catalogUrl,jdbcType=VARCHAR},
      CHAPTER_NUMBER = #{record.chapterNumber,jdbcType=DECIMAL},
      DELETED_FLAG = #{record.deletedFlag,jdbcType=VARCHAR},
      VERSION_NUMBER = #{record.versionNumber,jdbcType=BIGINT},
      CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      LAST_UPDATE_BY = #{record.lastUpdateBy,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = #{record.lastUpdateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aqier.web.cloud.novel.dto.model.Novel">
    update NOVEL
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        AUTHOR = #{author,jdbcType=VARCHAR},
      </if>
      <if test="catalogUrl != null">
        CATALOG_URL = #{catalogUrl,jdbcType=VARCHAR},
      </if>
      <if test="chapterNumber != null">
        CHAPTER_NUMBER = #{chapterNumber,jdbcType=DECIMAL},
      </if>
      <if test="deletedFlag != null">
        DELETED_FLAG = #{deletedFlag,jdbcType=VARCHAR},
      </if>
      <if test="versionNumber != null">
        VERSION_NUMBER = #{versionNumber,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aqier.web.cloud.novel.dto.model.Novel">
    update NOVEL
    set NAME = #{name,jdbcType=VARCHAR},
      AUTHOR = #{author,jdbcType=VARCHAR},
      CATALOG_URL = #{catalogUrl,jdbcType=VARCHAR},
      CHAPTER_NUMBER = #{chapterNumber,jdbcType=DECIMAL},
      DELETED_FLAG = #{deletedFlag,jdbcType=VARCHAR},
      VERSION_NUMBER = #{versionNumber,jdbcType=BIGINT},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>